* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blueviolet;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    align-items: center;
    margin: 20px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

li a {
    color: white;
}

form {}

nav form input {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border-color: 2px sloid brown;
    align-self: center;
}

nav form button {
    margin: 20px;
    background-color: white;
    color: blueviolet;
    padding: 5px;
    border-radius: 5px;
    border-color: 2px sloid brown;
    align-self: center;
}